/* --- Contenedor principal del footer --- */
.footer-container {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* --- Contenedor del chat en el footer --- */
.footer-chat {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}


@media (max-width: 1199px) and (min-width: 1024px) {
  
  .footer-container {
    gap: 1.2rem;
    margin-top: 2.8rem;
  }
}



/* ===========================
      768px – 1023px (Tablet)
=========================== */
@media (max-width: 1023px) and (min-width: 768px) {
  .footer-container {
    gap: 1.1rem;
    margin-top: 2.6rem;
  }

  .footer-chat {
    margin-top: 1.6rem;
  }
}



/* =====================================
      560px – 767px (Móvil grande)
===================================== */
@media (max-width: 767px) and (min-width: 560px) {
  .footer-container {
    gap: 1rem;
    margin-top: 2.4rem;
  }

  .footer-chat {
    margin-top: 1.4rem;
  }
}



/* =====================================
          max-width 559px (Móvil)
===================================== */
@media (max-width: 559px) {
  .footer-container {
    gap: .9rem;
    margin-top: 2rem;
  }

  .footer-chat {
    margin-top: 1.2rem;
  }
}



/* =====================================
     max-width 390px (Teléfonos mini)
===================================== */
@media (max-width: 390px) {
  .footer-container {
    gap: .8rem;
    margin-top: 1.6rem;
  }

  .footer-chat {
    margin-top: 1rem;
  }
}