.shift-container {
  width: 680px;        
  height: 600px;      /* MÁS GRANDE */
  margin: 60px auto;

  display: flex;
  flex-direction: column;
  gap: 18px;
 color: #0c0c0c;
  background: rgba(255, 255, 255, 0.95);   /* más sólido, se ve mejor */
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);

  border: 1px solid rgba(255, 255, 255, 0.4);
}

.shift-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: #1f1f1f;
}

.label {
  font-weight: 600;
  font-size: 16px;
  color: #111;          /* MÁS OSCURO PARA QUE SE VEA */
}

.input {
  padding: 14px;
  font-size: 17px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  transition: 0.2s;
  background: #fff;
  color: #111;          /* texto visible */
}

.input::placeholder {
  color: #0c0c0c;          /* placeholder visible */
}

.input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 6px rgba(0, 123, 255, 0.4);
}

.button {
  padding: 15px;
  margin-top: 8px;
  background: linear-gradient(90deg, #006eff, #00b7ff);
  color: rgb(15, 15, 15);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: 0.2s ease;
}

.button:hover {
  background: linear-gradient(90deg, #0057d4, #0096d4);
  transform: scale(1.03);
}
